<div class="container">
  <h1 class="page-header">Welcome {{customer.login}}</h1>
  <h3 class="text-info">
    Here you can manage your account
  </h3>
  <app-customer-info [customer]="customer"></app-customer-info>
  <app-customer-edit [customer]="customer"></app-customer-edit>
  <div *ngIf="!customer.products || customer.products.length === 0">
    <div class="alert alert-warning" role="alert">
      <p>
        You don't have any products to sell yet, but you always can start selling
      </p>
      <p>
        Create your advertisement <a routerLink="/create">now</a>
      </p>
    </div>
  </div>

  <div *ngIf="!(!customer.products || customer.products.length === 0)">
    <h1 class="modal-header">List of your advertisements</h1>
    <ul class="pager">
      <li class="previous"><a (click)="previousPage()" >Previous</a></li>
      <li class="next"><a (click)="nextPage()">Next</a></li>
    </ul>
    <div *ngFor="let product of customer.products" class="row list-group">
      <app-product [product]="product"></app-product>
      <button class="btn btn-default" [routerLink]="['/edit', product.id]">Edit</button>
      <button class="btn btn-default" (click)="deleteProduct(product)">Delete</button>
    </div>
    <ul class="pager">
      <li class="previous"><a (click)="previousPage()" >Previous</a></li>
      <li class="next"><a (click)="nextPage()">Next</a></li>
    </ul>
  </div>
</div>
