<div class="container">
  <div class="jumbotron">
    <h1 id="list-head">Hello, world!</h1>
    <p>Welcome to a brand new eShop</p>
    <p><a class="btn btn-primary btn-lg" routerLink="/about" role="button">Learn more</a></p>
  </div>
  <div *ngIf="!products || products.length === 0">
    <div class="alert alert-warning" role="alert">
      Oops! No products found which match your selection. Be the first one to <a routerLink="/create">create</a>
    </div>
  </div>

  <div *ngIf="products">
    <div class="list-group">
      <div *ngFor="let product of products;let i = index">
        <div class="row" *ngIf="i%3===0">
          <app-product [product]="products[i]"></app-product>
          <div *ngIf="products[i + 1]">
            <app-product [product]="products[i + 1]"></app-product>
          </div>
          <div *ngIf="products[i + 2]">
            <app-product [product]="products[i + 2]"></app-product>
          </div>
        </div>
      </div>
    </div>
    <ul class="pager">
      <li class="previous"><a [routerLink]="['/home']"
                              [queryParams]="{page:previousPage(), search:pattern}">Previous</a></li>
      <li class="next"><a [routerLink]="['/home']" [queryParams]="{page:nextPage(), search:pattern}">Next</a></li>
    </ul>
  </div>
</div>

