<nav class="navbar navbar-toggleable-md navbar-default fixed-top bg-inverse">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/"><span class="glyphicon glyphicon-shopping-cart">eShop</span></a>
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']"><a routerLink="/home">Home</a></li>
        <li *ngIf="logged" [routerLinkActive]="['active']"><a routerLink="/create">Create product</a></li>
        <li *ngIf="logged" [routerLinkActive]="['active']"><a routerLink="/account">Account</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/about">About</a></li>
        <li *ngIf="logged" (click)="logout()"><a routerLink="/home">Logout</a></li>
        <li *ngIf="!logged" [routerLinkActive]="['active']"><a routerLink="/register">Register</a></li>
        <li *ngIf="!logged" [routerLinkActive]="['active']"><a routerLink="/login">Log in</a></li>

      </ul>
    </div>

    <div class="collapse navbar-collapse">
      <form class="navbar-form navbar-right" (ngSubmit)="onSubmit(search.value)">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" #search>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
